@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #777;
  line-height: 2;
  font-size: 16px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .container {
    width: 90%;
  }
}

.py {
  padding: 100px 0;
}

@media (max-width: 769px) {
  .py {
    padding: 50px 0;
  }
}

body {
  position: relative;
}

body::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../image.png);
  background-position: center top;
  background-size: 100% auto;
  z-index: 99;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

/*------- GLOBAL -------*/
hr {
  border: none;
  background-color: #eee;
  height: 1px;
  width: 50%;
  margin: 30px auto;
}

i {
  color: #4f9ec5;
  font-size: 2.5rem;
}

button {
  border: none;
  background-color: #4f9ec5;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0.5em 2em;
  border-radius: 1.5em 1.5em 1.5em 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 20px;
}

button:after {
  content: "";
  top: 0;
  right: 100%;
  bottom: 100%;
  left: 0;
  background-color: rgba(68, 68, 68, 0.5);
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

button:hover::after {
  right: 0;
  bottom: 0;
}

/*---------------------------------*/
/* header */
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, 0.5)), to(rgba(255, 255, 255, 0.99))), url(../img/header.jpg);
  background-image: linear-gradient(rgba(68, 68, 68, 0.5), rgba(255, 255, 255, 0.99)), url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-top: 10px solid #4f9ec5;
}

header h1 {
  font-size: 6rem;
  color: #fff;
  text-shadow: 2px 2px #444;
}

header h4 {
  font-size: 2rem;
  font-weight: 400;
}

/* welcome */
.welcome {
  text-align: center;
}

.welcome h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: 400;
}

@media (max-width: 769px) {
  .welcome h2 {
    line-height: 1.5;
  }
}

.welcome p {
  font-weight: 400;
  font-size: 1.1rem;
}

.welcome article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.welcome article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

@media (max-width: 769px) {
  .welcome article div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 30px;
  }
}

.welcome article div:last-child {
  margin-bottom: 0;
}

.welcome article div h5 {
  font-size: 1.5rem;
}

/* blog */
.blog {
  background-color: #eee;
}

.blog article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.blog article .post {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
}

@media (max-width: 769px) {
  .blog article .post {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 30px;
  }
}

.blog article .post:last-child {
  margin-bottom: 0;
}

.blog article .post img {
  border-radius: 50px 50px 50px 0;
  -webkit-box-shadow: 3px 3px #4f9ec5;
          box-shadow: 3px 3px #4f9ec5;
}

.blog article .post h5 {
  font-size: 1.5rem;
  margin: 10px 0 0;
  font-weight: 400;
}

.blog article .post p {
  font-weight: 400;
  font-size: 1.3rem;
}

/* footer */
footer {
  background-color: #444;
}

footer article {
  color: #fff;
  text-align: center;
}

footer article h3 {
  font-size: 1.6rem;
}

footer article p {
  font-weight: 400;
  margin-bottom: 20px;
}

footer article i {
  font-size: 1.6rem;
  margin: 0 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer article i:hover {
  color: rgba(238, 238, 238, 0.8);
}

footer article hr {
  background-color: rgba(238, 238, 238, 0.1);
}

/* header */
/* header */
/* header */
/* header */
/* header */
/*# sourceMappingURL=style.css.map */