@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
$textFont: "Roboto", sans-serif;
$textHeadings: "Roboto", sans-serif;
$fontSize: 19px;

$bodyColor: #777;
$white: #fff;
$blue: #4f9ec5;
$lightgray: #eee;
$gray: #444;

$fontSize: 16px;
$transition: 0.3s ease;

$boxShadow: 0 5px 10px 0px rgba($gray, 0.5);

$py: 100px 0;
$width: 80%;
